
html {
    background-color: var(--bg-color);
}

  

body {
    background-color: var(--bg-color); 

    font-size: 16px;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif; 

    margin: 50px;
}

h1 {
  color: #FAF0E6;
  font-size: 3rem;
  margin-bottom: 10px;
}

p.desc {
  color: var(--accent-color-darkest);
  font-size: small;
  line-height: 10%;
}

h3.tagline {
  color: #CBBBA0;
  font-weight: 400;
  text-align: center;  
}

h2.lowersection {
 color: var(--text-color);   
  
}


a {
  text-decoration: none;
  transition: ease-in; 
}

a:link {
  color: var(--bg-button);
}

a:visited {
  color: var(--accent-color-dark);
}

a:hover {
  color: var(--accent-color-dark);
}

a:active {
  color: var(--text-color);
}


button {
    background-color: var(--bg-button);   
    color: white;               
    border: none;               
    padding: 5px 12px;          
    border-radius: 5px;        
    cursor: pointer;            
   
}

button:hover {
  background-color: var(--hero-button-hover);
  font-weight: bold;
}


.header-container { /* Example A: This styles elements with class="header" */
  display: flex;  
  justify-content: center;
  flex-direction: column;
  padding: 60px 40px;
  align-items: center;
  
  margin-top: 100px;
  text-align: center;
  background-color: var(--hero-bg);
  border-radius: 25px;
}

.header-item:nth-of-type(1){
  width: 60%;
}

.header-item:nth-of-type(2){
  width: 40%;
}

#header-img{
  width: 150px;
  max-width: 300px;
}

.header-button{
  display: flex;
  justify-content: center;
  gap: 20px;
}


.navbar ul {
    z-index: 1000; 
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 15px;
    left: 50%;  
    transform: translateX(-50%); 

    width: 90%;
    max-width: 1100%;

    display: flex;
    align-items: center;

    background-color: #f7eee3;
    padding: 10px 20px;

    border-radius: 999px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;

    color: #1E293B;
    padding: 8px 12px;
    border-radius: 8px;
}

.navbar ul li a:hover {
    background-color: #D9C3B0;
}


/**About Section***/ 

.intro {
  background-color: #FFF7ED;
    margin: 30px;
    margin-top: 80px;
    padding: 80px 20px;
    border-radius: 25px;
    color: #1E293B;
    text-align: center;
    box-shadow:  0 10px 25px rgba(0,0,0,0.08);
    border: 1px solid rgba(0,0,0,0.05);
}

.features {
  margin: 30px;
  padding: 80px 20px;
  text-align: center;
  border-radius: 25px;
  background-color: var(--accent-color-light);
}

#feature-heading {
  text-align: center;
  color: #1E293B;
  margin-bottom: 40px;
  margin-top: -5px;
  font-size: 40px;
}

.card-stack {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-c {
  background-color: var(--bg-feature-card);
  border-radius: 20px;
  width: 260px;
  overflow: hidden;
  padding: 25px;
  box-shadow:  0 10px 25px rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.05);
}


/** Schedule Section **/
  
.week-schedule {
    background-color: var(--hero-bg);
    margin: 30px;
    padding: 80px 20px;
    border-radius: 25px;
}

.movie-stack {
    flex-direction: row;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card {
  background-color: var(--bg-movie-card);
  border-radius: 25px;
  width: 260px;
  overflow: hidden;
  padding: 10px;
  box-shadow:  0 10px 25px rgba(0,0,0,0.08);
}

#movie-heading {
  text-align: center;
  color: var(--bg-movie-card-dark-mode);
  margin-bottom: 40px;
  margin-top: -5px;
  font-size: 40px;
}

img.movie-img {
  width: 100%;          
  height: 320px;
  object-fit: cover;    
  border-radius: 15px;
}


p.moviedescr {
    font-size: small;
    line-height: 10px;
}

/** Links Section ***/
  
.block {
  color: var(--accent-color-medium);
}

.dark-mode .rsvp-para {
    color:#FAF0E6;
}

.end-section {
  padding: 20px;
  background-color: #FFF7ED;
    margin: 30px;
    border-radius: 20px;
    text-align: left;
    box-shadow:  0 10px 25px rgba(0,0,0,0.08);
    border: 2px solid rgba(0,0,0,0.05);
}

/** RSVP Section **/

.rsvp-container {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 60px;
width: 100%;
max-width: 900px;
margin: 0 auto;
padding-bottom: 50px;
color: var(--hero-bg);
}

#rsvp-form {
  color: var(--text-color);
  margin-top: 20px;
}

.rsvp-para {
max-width: 100%;
padding-right: 10px;
line-height: 2;
text-align: left;
}

.rsvp-participants {
  max-width: 100%;
  padding-right: 10px;
  text-align: left;
}

#rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--bg-movie-card-dark-mode);
    margin: 30px;
    margin-top: 90px;
    border-radius: 20px;
    text-align: center;
    box-shadow:  0 10px 25px rgba(0,0,0,0.08);
    border: 2px solid rgba(0,0,0,0.05);
}

#card-h {
  text-align: center;
  font-size: 30px;

}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: pink;

}

/** Success Modal  **/


.modal {
  display: none;   
  position: fixed; 
  z-index: 2;       
  
  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.4); 

  flex-direction: column; 
  align-items: center;
  justify-content: center;

  
}

.modal-container {
    padding: 30px;
    width: 55%;
    

    background-color: #14121f;
    color: #F5EBDD;
    border: 9px solid #2b2b2b;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    box-shadow: 0 10px 30px rgba(29, 29, 29, 0.6);
}


#modal-img {
  width: 90px;
  height: auto;
}

#modal-text{
  line-height: 1.7;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-weight: 300;
  font-family: Poppins, sans-serif;
}

.dark-mode {
  background-color: var(--bg-color-dark-mode);
  color: var(--text-color-dark-mode);
  border-radius: 25px;
  padding-bottom: 10px;
}

.dark-mode .rsvp-para {
  color: var(--text-color);
}

.dark-mode #rsvp {
  background-color: var(--accent-color-light);
}

.dark-mode .features {
  background-color: var(--accent-color-darkest);
}


.dark-mode .feature-c {
  background-color: var(--bg-feature-card-dark-mode);
  color: var(--secondary-text-color-dark-mode);
}

.dark-mode #card-h {
  color: var(--hero-bg);
}

.dark-mode #feature-heading {
  color: var(--main-text-color-dark-mode);
}

.dark-mode .lowersection {
  color: var(--text-color);
}


:root {
    /* Light Mode */
    --bg-color: #FFF7ED;
    --bg-feature-card: #FAF3E8;
    --bg-movie-card: #ffffff; 
    --bg-section: #F5EBDD;

    --text-color: #333333;
    --text-secondary: #6B7280;

    --hero-bg: #111111;

    --hero-button-hover: #ff4f85; 
    --bg-button: #ff6b9a; 

    /* Dark Mode */
    --bg-color-dark-mode: #0F172A;
    --main-text-color-dark-mode: #F9EBDD;
    --secondary-text-color-dark-mode: #ecdae5;

    --bg-feature-card-dark-mode: #a84b7b;  
    --bg-movie-card-dark-mode: #F5EBDD;    
    --bg-section-dark-mode: #111827;

    --hero-bg: #020617;

    --bg-button: #fb749a;
    --hero-button-hover: #ff5d8b;

    /* Accent Colors */
    --accent-color-light: #ffd1dc;
    --accent-color-medium: #ff6b9a;
    --accent-color-dark: #e05584;
    --accent-color-darkest: #a63a5e;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;

}